/*
 * Bootstrap overrides
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
footer {
  color: gray;
}
.dropdown-form form {
   margin: 4px;
   padding: 0px;
}
.dropdown-form.dropdown-menu {
   padding: 8px;
}
#login-form.dropdown-menu {
   padding: 0px;
}
#users-table tbody th {
   background-color: #F9F9F9;
}
#users-table tbody tr input.input {
   border: 0px;
   margin: 0px;
   margin-top: 1px;
   margin-bottom: 1px;
}
#users-table .btn i {
   margin-top: 0.15em;
}
#users-table .btn i.pull-left {
   margin-right: 0.2em;
}
#users-table .btn i.pull-right {
   margin-left: 0.2em;
}
input.fit {
   width: 100%;
}

@media (min-width: 768px) {
   #users-table { font-size: 120%; }
   #users-table * { font-size: inherit; }
   #users-table .btn { font-size: 90%; }
}

/* consistency between firefox and chrome */

.row-fluid a[class*="span"] {
   min-height: 0px;
}
#users-table .btn-group {
   display: block;
}
#users-table .btn-group:after {
   clear: none;
}

